// 共用
.transition {
  transition: all 0.5s ease-in-out;
}
.title-article {
  width: 210px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 47px;
  font-size: 43px;
  color: #bd7461;
  font-weight: 400;
}
.title-article-hr {
  display: inline-block;
  vertical-align: top;
  width: 114px;
  margin: 0;
  border: 0;
  border-bottom: solid 1px #bd7461;
}

.sprite {
  background-size: 100% 100%;
  text-indent: -999999px;
  text-align: start;
}

.paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 35px;
  width: 300px;
  margin-bottom: 35px;
}
.button.button-rectangle {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 70px;
  border: 1px solid rgba(205, 184, 165, 0.6);
  -webkit-transition: border-color 0.1s ease-out;
  transition: border-color 0.1s ease-out;
  margin-left: 5px;
  margin: 0;
  background: 0 0;
  text-decoration: none;
  cursor: pointer;
}

.button.button-rectangle:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.button.button-rectangle:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cdb8a5;
  pointer-events: none;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.button.button-rectangle:hover .text {
  color: #2e2822;
}

.button.button-rectangle .text {
  position: relative;
  z-index: 2;
  color: #cdb8a5;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

.fadeAndShow-enter-active {
  animation: scale 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.fadeAndShow-enter-from {
  opacity: 0;
}

.fadeAndShow-enter-to {
  opacity: 1;
}

.fadeAndShow-leave-active {
  transition: all 0.7s ease-in;
  animation: scale 0.7s ease-in reverse;
}

.fadeAndShow-leave-from {
  opacity: 1;
}
.fadeAndShow-leave-to {
  opacity: 0;
}
.fadeAndShow-enter-active {
  animation: scale 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.fadeAndShow-leave-active {
  transition: all 0.3s ease-in;
  animation: scale 0.3s ease-in reverse;
}

.dropdown {
  transform: translateX(100px);
}

.p-placeholder,
.p-inputtext {
  color: #000 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 0.55rem 1rem !important;
  transform: translateX(-20px) !important;
}

.p-dropdown-trigger {
  transform: translateX(25px) !important;
}

.p-dropdown-items-wrapper {
  max-height: 258px !important;
  background-color: #000;
}

.p-dropdown-item-group {
  border-bottom: 1px solid rgba(204, 185, 170, 0.5);
  margin-bottom: 7px;
  line-height: 27px;
  font-size: 12px;
  line-height: 7px;
  color: #ccb9aa !important;
  background-color: #000 !important;
}

.p-dropdown-item {
  color: #000;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  display: block;
  box-sizing: border-box;
  padding-left: 20px;
  width: 100%;
  line-height: 7px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #fff;
  background: #89412d;
}

::-webkit-scrollbar-thumb {
  background-color: #89412d;
}
